<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link type="stylesheet" href="css/main.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <script>
    const ROOM_ID = "<%= data.roomId %>"
    const JOINED_USER = "<%= data.joinedUser %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.922.0.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="config-s3.js"></script>
  <script src="script.js" defer></script>
  <title>Video Call and Chat App</title>
</head>

<body>

  <div class="site-wrapper">
    <div class="mobile_button1" id="mobile_button1">
      <i id="mobile_button1_icon" style="transform: translate(13px,0);" class="fas fa-chevron-left"></i>
    </div>
  
    <div class="mobile_button2" id="mobile_button2">
      <i id="mobile_button2_icon" style="transform: translate(16px,0);" class="fas fa-edit"></i>
    </div>

    <div id="open"><i id="open-icon" class="fas fa-chevron-left"></i></div>
  
    <div id="main">
       <!--
          <ul class="icons1">
        <li><i class="fas fa-bars"></i></li>
        <li><i class="fa fa-mouse-pointer"></i></li>
        <li><i class="fa fa-hand-pointer"></i></li>
        <li><i class="fas fa-pencil-alt"></i></li>
        <li><i class="far fa-square"></i></li>
        <li><i class="fas fa-text-width"></i></li>
      </ul>
    -->

      <div class="tablet_button" id="tablet_button">
        <i id="tablet_button_icon" style="transform: translate(16px,0);" class="fas fa-edit"></i>
      </div>
  
      <div class="logo">
        <h2>TheRightGuru</h2>
      </div>
      <div class="popup">
        <span class="popuptext" id="myPopup"></span>
      </div>
      <ul id="icons2" class="icons2">
        <li><button id="muteButton" type="button" class="circle-icon">
          <i id="mic" class="fas fa-microphone "></i>
        </button></li>
        <li><button id="videoButton" type="button" class="circle-icon">
          <i id="video" class="fas fa-video "></i>
        </button></li>
        <li><button id="shareScreen" type="button" class="circle-icon">
          <i class="fas fa-share-square "></i>
        </button></li>
        <li><button onclick="handRaise()" type="button" class="circle-icon" id="hand-raise">
          <i class="fas fa-fist-raised"></i>
        </button></li>
        <li><button style="background-color: rgb(185, 13, 13);"  id="endCall" type="button" class="circle-icon">
          <i class="fas fa-phone-slash"></i>
        </button></li>
      </ul>
  
      <div id="teacher-video" class="teacher-video"></div>
      <div id="video-grid" class="video-grid"></div>
  
    </div>
  
    <section id="sidebar">
      <div class="chat__sidebar" id="chat__sidebar">
        <div class="message-header">
          <h4 style="font-weight: 700;">Attendees</h4>
        </div>
        <div class="teacher">
          <p style="font-size: 17px;">Teacher</p>
        </div>
        <div id="tusers">
        </div>
        <div class="students">
          <p style="font-size: 17px;">Students</p>
        </div>
        <div id="susers">
        </div>
      </div>
  
      <div class="chat" id="chat">
          <div class="chat__main">
            <div class="message-header">
              <h4 style="font-weight: 700;">Chat Box</h4>
            </div>
              <ol id="messages" class="chat__messages"></ol>
              <div class="chat__footer">
                  <form id="message-form">
                      <input name="message" type="text" placeholder="Message" autofocus autocomplete="off" />
                      <button><i style="color: black; transform: rotate(40deg);" class="far fa-paper-plane"></i></button>
                  </form>
              </div>
          </div>
  
        <script id="message-template" type="text/template">
          <li class="message">
              <div class="message__title">
                  <h5 style="font-weight: 600; color: #ec3545">{{from}}</h5>
                  <span>{{createdAt}}</span>
              </div>
              <div class="message__body">
                  <p>{{text}}</p>
              </div> 
          </li> 
        </script>
  
        <script id="location-template" type="text/template">
          <li class="message">
              <div class="message__title">
                  <h4>{{from}}</h4>
                  <span>{{createdAt}}</span>
              </div>
              <div class="message__body">
                  <a href="{{url}}" target="_blank"><p>My Current Location</p></a>
              </div> 
          </li>
        </script>
      </div>

      <div id="thirdtab" class="thirdtab">
        <div class="message-header">
          <h4 style="font-weight: 700;">Text</h4>
        </div>
        <div class="thirdtab_content">
          // <select style="margin: 20px auto; width: 245px;" class="form-select">
          //   <option selected value="Absent">Mark As Absent</option>
          //   <option value="Completed">Mark Class As Completed</option>
          // </select>

          <div style="margin: auto; width: 80px;">
            <button type="button" class="btn btn-danger mx-auto" onclick="updateClassStatus(Absent)">Mark as absent</button>
          </div>
          
          <div style="margin: auto; width: 80px;">
            <button type="button" class="btn btn-danger mx-auto" onclick="updateClassStatus('Completed')">Mark Class as Completed</button>
          </div>

          <div style="margin: 10px auto; width: 80px;">
            <button id="screenRecord" type="button" class="btn btn-outline-danger mx-auto">Start Recording</button>
            <button id="stopRecord" type="button" class="btn btn-outline-danger mx-auto">Stop Recording</button>
          </div>
          
  
        </div>
      </div>

      <div id="thirdtab-student" class="thirdtab-student">
        <div class="message-header">
          <h4 style="font-weight: 700;">Text</h4>
        </div>
        <div class="thirdtab_content">
        </div>
      </div>
  
      <div class="options">
        <ul class="icons3">
          <li onclick="comment()" id="comment" style="position: relative;">
            <i class="far fa-comment-dots"></i>
            <i id="red-dot" class="fas fa-circle"></i>
          </li>
          <li onclick="user()" id="user" class="active-tab"><i class="fas fa-user-friends"></i></li>
          <li onclick="settings()" id="settings"><i class="fas fa-cog"></i></li>
          <li id="close"><i id="close-icon" class="fas fa-times"></i></li>
          
        </ul>
      </div>
  
    </section>
  </div>

  <script>
    function comment() {
      document.getElementById("user").classList.remove("active-tab");
      document.getElementById("settings").classList.remove("active-tab");
      var element = document.getElementById("comment");
      element.classList.add("active-tab");

      document.getElementById("thirdtab").style.display = "none";
      document.getElementById("chat__sidebar").style.display = "none";
      document.getElementById("chat").style.display = "block";
      on_message_tab = true;
      document.getElementById("red-dot").style.display = "none";
    }

    function user() {
      document.getElementById("comment").classList.remove("active-tab");
      document.getElementById("settings").classList.remove("active-tab");
      var element = document.getElementById("user");
      element.classList.add("active-tab");

      document.getElementById("chat__sidebar").style.display = "block";
      document.getElementById("chat").style.display = "none";
      document.getElementById("thirdtab").style.display = "none";
      on_message_tab = false;
    }

    function settings() {
      document.getElementById("user").classList.remove("active-tab");
      document.getElementById("comment").classList.remove("active-tab");
      var element = document.getElementById("settings");
      element.classList.add("active-tab");

      document.getElementById("chat__sidebar").style.display = "none";
      document.getElementById("chat").style.display = "none";
      if(JOINED_USER.includes("TC_")) {
        document.getElementById("thirdtab").style.display = "block";
      } else {
        document.getElementById("thirdtab-student").style.display = "block"
      }
      on_message_tab = false;
    }

    document.getElementById("close").addEventListener("click", function() {
      document.getElementById("main").classList.add("main");
      document.getElementById("sidebar").classList.add("sidebar");
      document.getElementById("video-grid").style.marginRight = "90px";
      document.getElementById("close").style.display = "none";
      document.getElementById("open").style.display = "block";
    })

    document.getElementById("open").addEventListener("click", function() {
      document.getElementById("main").classList.remove("main");
      document.getElementById("sidebar").classList.remove("sidebar");
      document.getElementById("video-grid").style.marginRight = "10px";
      document.getElementById("close").style.display = "block";
      document.getElementById("open").style.display = "none";
    })

    
    document.getElementById("muteButton").addEventListener("click", function() {
      var micro = document.getElementById("mic");
      if(micro.classList.contains("fa-microphone-slash"))
      {
        document.getElementById("mic").classList.remove("fa-microphone-slash");
        document.getElementById("mic").classList.add("fa-microphone");
        return;
      }
      else{
        document.getElementById("mic").classList.remove("fa-microphone");
        document.getElementById("mic").classList.add("fa-microphone-slash");
        return;
      }
    })

    document.getElementById("videoButton").addEventListener("click", function() {
      var vid = document.getElementById("video");
      if(vid.classList.contains("fa-video-slash"))
      {
        document.getElementById("video").classList.remove("fa-video-slash");
        document.getElementById("video").classList.add("fa-video");
        return;
      }
      else{
        document.getElementById("video").classList.remove("fa-video");
        document.getElementById("video").classList.add("fa-video-slash");
        return;
      }
    })

    function handRaise() {
      document.getElementById('hand-raise').classList.toggle('fistup');
    }

    var mobButton1 = document.getElementById("mobile_button1");
    mobButton1.addEventListener("click", function() {
      document.getElementById("sidebar").classList.toggle("mobile_sidebar");
      document.getElementById("main").classList.toggle("mobile_main");
      document.getElementById("mobile_button2").classList.toggle("nodisp");
      document.getElementById("mobile_button1_icon").classList.toggle("fa-chevron-right");
    })

    var mobButton2 = document.getElementById("mobile_button2");
    mobButton2.addEventListener("click", function() {
      document.getElementById("icons2").classList.toggle("icons2again");
      document.getElementById("mobile_button2_icon").classList.toggle("fa-times");
    })

    var tabButton = document.getElementById("tablet_button");
    tabButton.addEventListener("click", function() {
      document.getElementById("icons2").classList.toggle("icons2again");  
    })

  </script>

  <script src="js/moment.js"></script>
  <script src="js/mustache.js"></script>
  <!-- <script src="js/chat.js"></script> -->
  <script src="js/deparam.js"></script>
</body>
</html>